* {
    margin: 0;
}

nav img {
    height: 3.12rem;
    width: 3.12rem;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
    font-size: 0.63rem;
    text-align: center;
    align-items: center;
    padding: .22rem 0 .22rem 0;

}

nav h1 {
    text-align: left;
}

nav h2 {
    padding-right: 1.56rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.logo {
    display:flex;
    width: 21.87rem;
    height: 18.75rem;
    margin: auto;
}

.quote {
    text-align: center;
    padding: 1.62rem;
    font-style: italic;
}

.color {
    background-color: #132257;
    color: white;
    text-align: center;
    padding: 1.62rem;
    font-style: italic;
}
.section {
    text-align: center;
    padding: 1.62rem;
    color: black;
}
.blog {
    display: grid;
    padding: 1.62rem;
    justify-content: center;
}
.image {
    width: 21.87rem;
    height: 18.75rem;
    margin: auto;
}

.date {
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
}

.title {
    padding-bottom: 0.62rem;
}

.text {
    padding-bottom: 1.25rem;
    color: grey;
}
footer {
    background-color: #132257;
    color: white;
    text-align: center;
    padding: 1.62rem;
}