* {
    margin: 0;
}
/* Nav Setup */
nav img {
    height: 3.12rem;
    width: 3.12rem;
}

nav {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
    font-size: 0.63rem;
    text-align: center;
    align-items: center;
    padding: .22rem 0 .22rem 0;

}

nav h1 {
    text-align: left;
}

nav h2 {
    padding-right: 1.56rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
/* Nav Setup */

/* Logo img */
.logo {
    display:flex;
    width: 21.87rem;
    height: 18.75rem;
    margin: auto;
}
/* Logo img */

/* Quote and Color */
.quote {
    text-align: center;
    padding: 1.62rem;
    font-style: italic;
}

.color {
    background-color: #132257;
    color: white;
    text-align: center;
    padding: 1.62rem;
    font-style: italic;
}
/* Quote and Color */

/* Grid Blog */
.blog {
    display: grid;
    padding: 1.62rem;
    justify-content: center;
}
.image {
    width: 21.87rem;
    height: 18.75rem;
    margin: auto;
}

.date {
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
}

.title {
    padding-bottom: 0.62rem;
}

.text {
    padding-bottom: 1.25rem;
    color: grey;
}
/* Grid Blog */

/* View More */
.more {
    text-align: center;
    padding: 1.62rem;
    color: black;
}
/* View More */

/* Footer */
footer {
    background-color: #132257;
    color: white;
    text-align: center;
    height: 100%;
    padding: 1.62rem;
}
/* Footer */

/* Media Query for scaling */
@media (min-width: 400px) {
    .blog {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.25rem;
        width: auto;
        padding: 1.25rem 1.25rem .25rem 1.25rem;
        margin: 0 1.25rem;
    }

}
/* Media Query for scaling */